.grid-container {
  background-color: #04AFEF;
  margin: auto;
  width: 600px;
  height: 800px;
  border: 2px black solid;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 1px black;



  #display {
    margin: 10px auto 0 auto;
    width: 545px;
    height: 75px;
    border: 2px black solid;
    grid-column: 1 / span 4;
    font-size: 70px;
    overflow: hidden;
    box-shadow: 1px 1px 1px black;


  }

  .button {
    margin: 0 auto;
    background-color: #ddd;
    width: 70px;
    height: 50px;
    border: 1px black solid;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
  }

  .button:hover {
    background-color: #bbb;
  }

  .AC {
    color: red;
  }

  .AC:hover {
    background-color: #ff726f;
  }
  .Equal {
    color: green;
  }

  .Equal:hover {
    background-color: #4ee44e;
  }

}
